*
!.gitignore
!.zshrc
!.zprofile
!.zshenv
!.zpath
!.vimrc
!.ideavimrc
!.profile
!README.md
!.config/
!.config/nixpkgs/
!.config/nixpkgs/*
# !.config/nixpkgs/flake.nix
# !.config/nixpkgs/
# !.config/nixpkgs/*
# !.config/nixpkgs/
# !.config/nixpkgs
# !/.config/nixpkgs/flake.nix
# !/.config/nixpkgs/*
# !/.config/nixpkgs/
# !/.config/nixpkgs
