/*
/.config/*
!.gitignore
!.zshrc
!.zprofile
!.zshenv
!.zpath
!.vimrc
!.ideavimrc
!.profile
!README.md
!.config/
!.config/nixpkgs
# !.config/nixpkgs/*
# !.config/nixpkgs/hosts
# !.config/nixpkgs/hosts/*
# !.config/nixpkgs/hosts/mac-default
# !.config/nixpkgs/hosts/mac-default/*
# !.config/nixpkgs/flake.nix
# !.config/nixpkgs/
# !.config/nixpkgs/*
# !.config/nixpkgs/
# !.config/nixpkgs
# !/.config/nixpkgs/flake.nix
# !/.config/nixpkgs/*
# !/.config/nixpkgs/
# !/.config/nixpkgs
