source ~/.vimrc

set NERDTree
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "150"

" Enables gcc gc{count}{motion} for commenting
set commentary

" Adds common action in IDE
map <leader>mrp <Action>(ManageRecentProjects)

" Formatting
nnoremap <leader>cf :action ReformatCode<CR>
" Depending on the context will either expand Emmet abbreviation or choose
" first lookup item
imap <C-Y> <Action>(ExpandLiveTemplateCustom)<Action>(EditorChooseLookupItem)

" Code Completion
inoremap <C-A> :action CodeCompletion<CR>

" Helpers
nmap <C-h>  <Action>(QuickImplementations)
imap <C-h>  <Action>(QuickImplementations)
nmap <leader>sd <Action>(ShowErrorDescription)

" Search and Switch
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gs :action GotoSymbol<CR>
nnoremap <leader>gd :action GotoDatabaseObject<CR>
nnoremap <leader>fp :action FindInPath<CR>
" Similar to Go to Buffer in my neovim setup
nnoremap <leader>gb :action Switcher<CR>

" Git
nnoremap <leader>ags :action ActivateCommitToolWindow<CR>
nnoremap <leader>ggc :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>ggb :action Vcs.ShowTabbedFileHistory<CR>
" Preview hunk
nmap <leader>ph <Action>(VcsShowCurrentChangeMarker)

" View Modes
nnoremap <leader>mdf :action ToggleDistractionFreeMode<CR>

" Replace
" nnoremap <leader>fr

" Running/Debugging
" noremap <leader>dd :action Debug<CR>
noremap <leader>cd :action ChooseDebugConfiguration<CR>
noremap <leader>rr :action Run<CR>
noremap <leader>cr :action ChooseRunConfiguration<CR>

" Run
nnoremap <leader>ar :action ActivateRunToolWindow<CR>

" Problems
nnoremap <leader>tt :action ActivateProblemsViewToolWindow<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
" nnoremap <leader>xq :action ProblemsView.QuickFixes<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>

" Project Window
nnoremap <leader>fb :action ActivateProjectToolWindow<CR>

" Terminal
nnoremap <leader>at :action ActivateTerminalToolWindow<CR>

" Navigation
" Go to Declaration or Usage
" nnoremap gd :action GotoDeclaration<CR>
" Go to Declaration
nnoremap gd :action GotoDeclarationOnly<CR>
" Go to References
nnoremap gr :action ShowUsages<CR>
" Go to Implementation
nnoremap gi :action GotoImplementation<CR>
" Forward Jump Pooint
nnoremap <C-i> :action Forward<CR>
" Back Jump Point
nnoremap <C-o> :action Back<CR>
" Scroll half screen and center
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap N Nzzzv
nnoremap n nzzzv

"false Split Window
" nnoremap <C-W>s :action SplitHorizontally<CR>
" nnoremap <C-T>v :action SplitVertically<CR>

" Debugger
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
